{% extends 'admin/layouts/base.html' %}
{% load static %}
{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}



  <div class="container mt-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>All Categories</h1>
        <a href="{% url 'categoryadd' %}" class="btn btn-primary">Add Category</a>
    </div>
    <div class="row">
        {% for category in categories %}
        <div class="col-md-12 mb-0">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="{{ category.image_url }}" class="img-fluid rounded-start" alt="{{ category.name }}">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <p class="card-text">{{ category.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}