{% extends 'admin/layouts/base.html' %}
{% load static %}
{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
<h1>Create a Product</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
{% endblock content %}