{% extends 'admin/layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h1>Edit Product</h1>
  <form method="post" action="{% url 'editproduct' product.id %}">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input class="form-control" type="text" name="name" value="{{ product.name }}"><br>
    <label for="description">Description:</label>
    <textarea name="description">{{ product.description }}</textarea><br>
    <input type="submit" value="Save">
  </form>
</div>
{% endblock content %}