{% extends 'admin/layouts/base.html' %}
{% load static %}
{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-between">
    <h1>All Product</h1>
    <a href="{% url 'productadd' %}" class="btn btn-primary">Add Product</a>
</div>
  <div class="row">
    {% for product in products %}
    <div class="col-md-12 mb-0"> 
        <div class="card">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{{ product.image_url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="{% url 'editproduct' product.id %}" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}