{% extends 'layout.html' %}
{% load static %}
{% block content %}
<section class="vh-100" style="padding-top: 75px; margin-top: 50px;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="POST" enctype="multipart/form-data" >
            {% if form.non_field_errors %}
                <div class="alert alert-danger">{{form.non_field_errors}}</div>
            {% endif %}
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4" style="padding-top:30px;">
              <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
              {{form.username }}
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3" style="padding-top:30px; padding-bottom:30px;">
              <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
              {{form.password }}
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <input type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Giris Yap">
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                  class="link-danger">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}