{% extends 'layout.html' %}
{% load static %}
{% block content %}
<section class="vh-100" style="margin-top: 100px;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form class="mx-1 mx-md-4" method="POST" enctype="multipart/form-data">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">{{form.non_field_errors}}</div>
                    {% endif %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="d-flex flex-row align-items-center mb-4" style="padding-top:30px">                      
                      <div class="form-outline flex-fill mb-0">
                        <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                        {{form.username }}
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4" style="padding-top:30px">                      
                      <div class="form-outline flex-fill mb-0">
                        <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
                        {{form.email }}
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4" style="padding-top:30px">                      
                      <div class="form-outline flex-fill mb-0">
                        <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                        {{form.password1 }}
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4" style="padding-top:30px">                      
                      <div class="form-outline flex-fill mb-0">
                        <i class="fa fa-key fa-lg me-3 fa-fw"></i>
                        {{form.password2 }}
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <input type="submit" class="btn btn-primary btn-lg" value="Kayıt Ol">
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}