

<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <h5 class="m-b-10">{{ segment }}</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="feather icon-home"></i></a></li>
          {% if parent %}
            <li class="breadcrumb-item"><a href="javascript:">{{ parent }}</a></li>
          {% endif %}
          <li class="breadcrumb-item"><a href="javascript:">{{ segment }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>