{% load static %}

<!-- Required Js -->
<script src="{% static 'admin/assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'admin/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'admin/assets/js/dark-mode.js' %}"></script>
