<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'admin/includes/head.html' %}
  {% block extrastyle %}{% endblock extrastyle %}
</head>
<body>

  {% block content %}{% endblock content %}

  {% include 'includes/scripts.html' %}
  {% block extra_js %}{% endblock extra_js %}

</body>
</html>