<!DOCTYPE html>
{% load static  %}
<html lang="en">

<head>
  {% include 'admin/includes/head.html' %}
  {% block extrastyle %}{% endblock extrastyle %}
  {% block extrahead %}{% endblock extrahead %}
</head>
<body>

  {% block pre_loader %}
    {% include 'admin/includes/pre-loader.html' %}
  {% endblock pre_loader %}
  
  {% block sidebar %}
    {% include 'admin/includes/sidebar.html' %}
  {% endblock sidebar %}

  {% block header %}
    {% include 'admin/includes/navigation.html' %}
  {% endblock header %}

  <!-- [ Main Content ] start -->
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
      <div class="pcoded-content">
        <div class="pcoded-inner-content">
          <!-- [ breadcrumb ] start -->
          {% block breadcrumbs %}
            {% include 'admin/includes/breadcrumb.html' %}
          {% endblock breadcrumbs %}
          <!-- [ breadcrumb ] end -->
          <div class="main-body">
            <div class="page-wrapper">
              {% block content %}{% endblock content %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'admin/includes/scripts.html' %}
  {% block extra_js %}{% endblock extra_js %}

</body>
</html>