<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="{% url 'index' %}" class="navbar-brand smoothScroll">Minimax</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
			  <li {% if request.path == '/' %} class="active" {% endif %}>
				<a href="{% url 'index' %}" class="smoothScroll">ANASAYFA</a>
			  </li>
			  <li {% if request.path == '/pricing/' %} class="active" {% endif %}>
				<a href="{% url 'pricing' %}" class="smoothScroll">FİYATLANDIRMA</a>
			  </li>
			  <li {% if request.path == '/services/' %} class="active" {% endif %}>
				<a href="{% url 'services' %}" class="smoothScroll">HİZMETLER</a>
			  </li>
			  {% if not request.user.is_authenticated %}	
			  <li {% if request.path == '/login/' %} class="active" {% endif %}>
				<a href="{% url 'login:login' %}" class="smoothScroll">GİRİŞ YAP</a>
			  </li>
			  <li {% if request.path == '/register/' %} class="active" {% endif %}>
				<a href="{% url 'login:register' %}" class="smoothScroll">KAYIT OL</a>
			  </li>
			  {% else %}
			  <li>
				<a href="{% url 'login:logout' %}" class="smoothScroll">ÇIKIŞ YAP</a>
			  </li>
			  {% endif %}
			</ul>
		  </div>
	</div>
</div>		