{% extends 'admin/layouts/base.html' %}
{% load static %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
    <!-- [ tabs ] start -->
    <div class="col-sm-12">
      <h5>Basic Tabs</h5>
      <hr>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active text-uppercase" id="home-tab" data-toggle="tab" href="#home" role="tab"
            aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
            aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
            aria-controls="contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p class="mb-0">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
            stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
            helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
            qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
            cardigan american apparel, butcher voluptate nisi qui.
          </p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <p class="mb-0">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
            squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer
            mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore
            aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente
            labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard
            ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
            vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <p class="mb-0">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's
            organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork
            tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY
            synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi
            whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester
            cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable
            tofu synth chambray yr.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <h5 class="mt-4">Basic Pills</h5>
      <hr>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
            aria-controls="pills-contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
          aria-labelledby="pills-home-tab">
          <p class="mb-0">Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est
            duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation
            proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit
            cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa
            excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.
          </p>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <p class="mb-0">Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit
            ex. Aute sunt incididunt amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod
            voluptate exercitation cillum id incididunt elit sunt. Qui minim sit magna Lorem id et dolore
            velit Lorem amet exercitation duis deserunt. Anim id labore elit adipisicing ut in id occaecat
            pariatur ut ullamco ea tempor duis.
          </p>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <p class="mb-0">Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip
            dolor aliqua irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum
            veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo
            aliquip sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam
            incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim
            do mollit labore ipsum laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt
            dolore aliquip aute tempor irure magna enim minim reprehenderit. Ullamco consectetur culpa
            veniam sint cillum aliqua incididunt velit ullamco sunt ullamco quis quis commodo voluptate.
            Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur mollit voluptate voluptate
            consequat non.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <h5 class="mt-4">Vertical Pills</h5>
      <hr>
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <li><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill"
                href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            </li>
            <li><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill"
                href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                aria-selected="false">Profile</a></li>
            <li><a class="nav-link text-left" id="v-pills-messages-tab" data-toggle="pill"
                href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                aria-selected="false">Messages</a></li>
            <li><a class="nav-link text-left" id="v-pills-settings-tab" data-toggle="pill"
                href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                aria-selected="false">Settings</a></li>
          </ul>
        </div>
        <div class="col-md-9 col-sm-12">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
              aria-labelledby="v-pills-home-tab">
              <p class="mb-0">Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem
                sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id
                reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore
                eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur.
                Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
              aria-labelledby="v-pills-profile-tab">
              <p class="mb-0">Culpa dolor voluptate do laboris laboris irure reprehenderit id incididunt
                duis pariatur mollit aute magna pariatur consectetur. Eu veniam duis non ut dolor deserunt
                commodo et minim in quis laboris ipsum velit id veniam. Quis ut consectetur adipisicing
                officia excepteur non sit. Ut et elit aliquip labore Lorem enim eu. Ullamco mollit occaecat
                dolore ipsum id officia mollit qui esse anim eiusmod do sint minim consectetur qui.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
              aria-labelledby="v-pills-messages-tab">
              <p class="mb-0">Fugiat id quis dolor culpa eiusmod anim velit excepteur proident dolor aute
                qui magna. Ad proident laboris ullamco esse anim Lorem Lorem veniam quis Lorem irure
                occaecat velit nostrud magna nulla. Velit et et proident Lorem do ea tempor officia dolor.
                Reprehenderit Lorem aliquip labore est magna commodo est ea veniam consectetur.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
              aria-labelledby="v-pills-settings-tab">
              <p class="mb-0">Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit
                consectetur elit id dolor proident in cupidatat officia. Voluptate excepteur commodo labore
                nisi cillum duis aliqua do. Aliqua amet qui mollit consectetur nulla mollit velit aliqua
                veniam nisi id do Lorem deserunt amet. Culpa ullamco sit adipisicing labore officia magna
                elit nisi in aute tempor commodo eiusmod.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ tabs ] end -->
  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}